*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 
margin: 0;
padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
    --main-color:rgba(28, 57, 70, 0.914);
    --second-color: lightblue;
}

body{
    /* display: flex; */
    margin: 0;
    padding: 0;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    background-color: rgba(28, 57, 70, 0.914);
    width: 100%;
    height: 100%;
    /* display: inline-block; */
    /* overflow-x: hidden; */
}

html,body
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden;  */
}



header{
    border: solid rgba(28, 57, 70, 0.914);
    background-color: rgba(28, 57, 70, 0.914);
    /* height: 80px; */

    box-shadow: 0 30px 20px -6px rgba(28, 57, 70, 0.914);
    /* width: 100%; */
    /* margin-top: 5px; */
    z-index: 2;
    /* position: fixed; */
    /* width: 100%; */
}

#starz-logo{
    width: 100%;
    height: 50%;
    /* margin-left: 3%; */
    /* display: flex; */
    /* align-items: center; */
    /* border: solid red; */

}

.div-head{
    /* border: solid blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.head{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    /* margin-top: 3%; */
    width: 100%;
    height: 10%;
    gap: 3%;
    /* margin-left: 3%; */
}

#icon{
    width: 20px;
    /* border: solid red; */
    height: 15px;
    color: white;
}

#icons{
    width: 20px;
    /* border: solid red; */
    height: 20px;
    margin-left: -20px;
    color: red;
}

.container{
    /* border: solid red; */
    height: 100%;
    width: 250px;
    margin-top: 9%;
    position: absolute;
    margin-left: 80%;
    background-color: var(--main-color);
    z-index: 1;
    transition: 2s ease;
    transform: translateX(-70%);
    visibility: hidden;
    /* display: none; */
}

input{
    position: absolute;
    margin-top: 3%;
    margin-left: 95%;
    z-index: 2;
    /* -webkit-appearance: none; */
    /* visibility: hidden; */
    /* display: none; */
}

span{
    position: absolute;
    right: -40px;
    width: 20px;
    /* border: solid red; */
    top: 9%;
    font-size: 25px;
    cursor: pointer;
    background: red;
}

#bars{
    /* background: blue; */
}
#check:checked ~ .container{
    transform: translateX(-70%);
    transition: 1s;
}

#check:checked ~ .container{
/* display: contents; */
transition: 1s;
visibility: visible;
}

.container .heading{
    color: wheat;
}

ol{
    width: 100%;
    list-style: none;
}

ol li a{
    text-decoration: none;
    color: white;
    padding: 15px 10px;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    text-transform: capitalize;
}

ol li a i{
    /* border: solid blue; */
    width: 70px;
    font-size: 25px;
    text-align: center;
    padding-left: 30px;
}

ol li:hover a{
    background: var(--second-color);
}

@keyframes slideLeft {
    from{
        transform: translateX(300px);
    }

    to{
        transform: translateX(-1px);
    }
}


#inside-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    display: inline-block;
    /* border: solid blue; */
    /* white-space: nowrap; */
    /* margin-top: 100px; */
    /* margin-left: -90%; */
    overflow: hidden;
    overflow-y: scroll;
    /* width: 100%; */
    /* display: inline-block; */
    /* height: 700px; */
    /* height: 100%; */
}

.image-logo{
/* border: solid green; */
margin-left: 20px;
display: flex;
align-items: center;
width: 15%;
height: 100%;
}

.list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    /* border: solid red; */
    height: 30px;
    width: auto;
    align-items: center;
}

.list-hover{
    /* border: solid blue; */
    /* height: 100%; */
    align-items: center;
    /* display: flex; */
}

.list1::after{
    content: '';
    border: solid green;
    position: absolute;
    margin-top: -20px;
    /* margin-right: 100%; */
    width: 35px;
    margin-left: -40px;
}


.list2:hover:after{
    content: '';
    border: solid green;
    position: absolute;
    margin-top: -20px;
    /* margin-right: 100%; */
    width: 44px;
    margin-left: -50px;
}

.list3:hover:after{
    content: '';
    border: solid green;
    position: absolute;
    margin-top: -20px;
    /* margin-right: 100%; */
    margin-left: -50px;
    width: 44px;
}

.list4:hover:after{
    content: '';
    border: solid green;
    position: absolute;
    margin-top: -20px;
    /* margin-right: 100%; */
    margin-left: -60px;
    width: 53px;
}

.list5:hover::after{
    content: '';
    border: solid green;
    position: absolute;
    margin-top: -20px;
    /* margin-right: 100%; */
    margin-left: -70px;
    width: 65px;
}

.list6:hover:after{
    content: '';
    border: solid green;
    position: absolute;
    margin-top: -20px;
    margin-left: -75px;
    /* margin-right: 100%; */
    width: 75px;
}

.list7:hover:after{
    content: '';
    border: solid green;
    position: absolute;
    margin-top: -20px;
    margin-left: -100px;
    /* margin-right: 100%; */
    width: 93px;
}

.div-head{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
}

#header-picture{
    /* border: solid red; */
    width: 4%;
    height: 40px; 
    border-radius: 40px 40px 40px 40px;
    background-image: url(/image/664758.png);
    background-size: cover;
    margin-bottom: 10px;
    /* justify-items: flex-end; */
}
#header-picture::after{
    content: 'arona';
    color: white;
    /* border: solid green; */
    position: absolute;
    margin-top: 35px;
    /* margin-left: -1px; */
    /* margin-right: 100%; */
    width: 13px;
}

#head-picture{
    width: 30px;
}


ul{
    /* border: solid brown; */
    height: 100%;
}

header a{
    text-decoration: none;
    color: white;
}

ion-icon {
    font-size: 64px;
  }


.first-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* width: 80%; */
    /* border: solid red; */
    height: 500px;
    background-image: url(/image/black-panther.webp);
    background-size: cover;
    /* width: 100%; */
}

.textp{
    margin-top: 50px;
    margin-left: 2%;
}

.second-section{
    /* display: flex; */
    /* display: inline-block; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* border: solid red; */
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 5%;
    height: 400px;
    overflow: hidden;
    /* margin-bottom: 20px; */
    width: 100%;
    overflow: hidden;
    /* overflow-x: scroll; */
    /* overflow-y: scroll; */
}

.first-text{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#scrool{
    display: flex;
    flex-direction: column;
    /* border: solid blueviolet; */
    margin-left: 2%;
    margin-right: 2%;
    height: 400px;
    /* width: 400px; */
    
}

#image-section1{
    overflow: hidden;
    overflow-x: scroll;
    /* border: solid black; */
    height: 90%;
    margin-top: 2px;
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(10,200px);
    grid-template-rows: 1fr;

}

.grid{
    border: solid rgb(110, 110, 122);
    border-radius: 15px;
}

.grid1{
    background-image: url(/image/ronaldoXmessi.jpg);
    background-size: cover;
    overflow: hidden;
}


.cr7{
    /* border: solid red; */
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    visibility: hidden;
}

.grid-text1{
    margin-top: 30%;
    font-size: large;
}


.grid-text2{
    font-size: small;
    font-style: italic;
}

.messi{
    display: flex;
    flex-direction: row;
    /* border: solid red; */
    height: 40%;
    width: 100%;
    gap: 5%;
    /* margin-top: 50%; */
}

.grid1:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid1:hover .cr7{
    visibility: visible;
}

.grid2{
    background-image: url(/image/Interstellar-366875261-large.jpg);
    background-size: cover;
    overflow: hidden;
}

.grid2:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid2:hover .cr7{
    visibility: visible;
}

.grid3{
    background-image: url(/image/happy\ gilmore.webp);
    background-size: cover;
}

.grid3:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid3:hover .cr7{
    visibility: visible;
}

.grid4{
    background-image: url(/image/shutter\ island.jpg);
    background-size: cover;
}

.grid4:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid4:hover .cr7{
    visibility: visible;
}

.grid5{
    background-image: url(/image/the-wolf-of-wallstreet.jpg);
    background-size: cover;
}

.grid5:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid5:hover .cr7{
    visibility: visible;
}

.grid6{
    background-image: url(/image/elon-musk.jpg);
    background-size: cover;
}

.grid6:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid6:hover .cr7{
    visibility: visible;
}

.grid7{
    background-image: url(/image/JOHN-WICK.jpeg);
    background-size: cover;
}

.grid7:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid7:hover .cr7{
    visibility: visible;
}

.grid8{
    background-image: url(/image/omar\ sy.jpg);
    background-size: cover;
}

.grid8:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid8:hover .cr7{
    visibility: visible;
}

.grid9{
    background-image: url(/image/les\ intouchable.jpg);
    background-size: cover;
}

.grid9:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid9:hover .cr7{
    visibility: visible;
}

.grid11{
    background-image: url(/image/fast-furious.jpeg);
    background-size: cover;
}

.grid11:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid11:hover .cr7{
    visibility: visible;
}

.grid22{
    background-image: url(/image/SPIDER-MAN.jpeg);
    background-size: cover;
}

.grid22:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid22:hover .cr7{
    visibility: visible;
}

.grid33{
    background-image: url(/image/iron.webp);
    background-size: cover;
}

.grid33:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid33:hover .cr7{
    visibility: visible;
}

.grid44{
    background-image: url(/image/harry-potter.jpg);
    background-size: cover;
}

.grid44:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid44:hover .cr7{
    visibility: visible;
}

.grid55{
    background-image: url(/image/AVATAR.jpeg);
    background-size: cover;
}

.grid55:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid55:hover .cr7{
    visibility: visible;
}

.grid66{
    background-image: url(/image/GARDIAN-GALAXY.jpg);
    background-size: cover;
}

.grid66:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid66:hover .cr7{
    visibility: visible;
}

.grid77{
    background-image: url(/image/CARS.jpg);
    background-size: cover;
}

.grid77:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid77:hover .cr7{
    visibility: visible;
}

.grid88{
    background-image: url(/image/hunter\ x\ hunter.jpg);
    background-size: cover;
}

.grid88:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid88:hover .cr7{
    visibility: visible;
}

.grid99{
    background-image: url(/image/ONE-PIECE.jpg);
    background-size: cover;
}

.grid99:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid99:hover .cr7{
    visibility: visible;
}

.grid10{
    background-image: url(/image/whitemen.jpg);
    background-size: cover;
}

.grid10:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid10:hover .cr7{
    visibility: visible;
}

.grid111{
    background-image: url(/image/white-house.jpg);
    background-size: cover;
}

.grid111:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid111:hover .cr7{
    visibility: visible;
}

.grid222{
    background-image: url(/image/me-time.jpeg);
    background-size: cover;
}

.grid222:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid222:hover .cr7{
    visibility: visible;
}

.grid333{
    background-image: url(/image/creed.jpg);
    background-size: cover;
}

.grid333:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid333:hover .cr7{
    visibility: visible;
}

.grid444{
    background-image: url(/image/black-mirror.jpeg);
    background-size: cover;
}

.grid444:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid444:hover .cr7{
    visibility: visible;
}

.grid555{
    background-image: url(/image/GRAY-MAN.jpeg);
    background-size: cover;
}

.grid555:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid555:hover .cr7{
    visibility: visible;
}

.grid666{
    background-image: url(/image/VENOM.jpg);
    background-size: cover;
}

.grid666:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid666:hover .cr7{
    visibility: visible;
}

.grid777{
    background-image: url(/image/naruto.jpeg);
    background-size: cover;
}

.grid777:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid777:hover .cr7{
    visibility: visible;
}

.grid888{
    background-image: url(/image/grown\ ups.jpg);
    background-size: cover;
}

.grid888:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid888:hover .cr7{
    visibility: visible;
}

.grid999{
    background-image: url(/image/jaws_1975_film_poster.webp);
    background-size: cover;
}

.grid999:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid999:hover .cr7{
    visibility: visible;
}

.grid100{
    background-image: url(/image/STAR\ WARS.jpeg);
    background-size: cover;
}

.grid100:hover .card-bod{
    /* width: 190px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    color: rgb(255, 253, 253);
    font-weight: bolder;
    position: relative;
    /* border: red solid; */
    top: 0;
    bottom: -100%;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* visibility: hidden; */
    /* opacity: 0.5; */
    transition: 1s;
    visibility: visible;
}

.grid100:hover .cr7{
    visibility: visible;
}





@media screen and (max-width: 768px){
    .container{
        margin-top: 60px;
    }

    #check{
        margin-top: 10%;
        /* margin-left: 50%; */
    }

    #header-picture{
        height: 30px;
        margin-left: 20px;
        visibility: hidden;
        background-size: cover;
        width: 40px;
        /* border: green; */
    }

    

    .div-head{
        border: solid purple;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: 75%;
        visibility: hidden;
    }

    .image-logo{
        width: 70%;
        margin: 0;
    }

    .list{
        /* border: solid blue; */
        height: 100%;
        width: 100%;
        justify-content: flex-start;
        display: flex;
        /* gap: 10px; */
        align-items: center;
    }

    .list-hover:hover a{
        font-size: larger;
        color: orangered;
        
    }

    #header-button1{
        width: 50px;
        height: 50px;
        visibility: visible;
        border: solid lightblue;
        margin-left: -200%;
    }

    


}





